*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(245, 235, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    transform: translate(50px);
    width: 50%;
    height: fit-content;
    border: 2px solid red;
}

