@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color:rgb(245, 235, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    transform: translate(50px);
    width: 50%;
    height: fit-content;
    border: 2px solid red;
}

.headtxt{
    font-size: 3vw;
}

.quote::after, .quote::before{
    content: '"';
}

button{
    width: 10vw;
    padding: 0.8vw 1vw;
    margin: 2vw;
    border-radius: 5px;
    border: none;
    background-color: rgb(160, 222, 255);
    color: white;
    font-size: medium;
    font-weight: bold;
}