@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(245, 235, 224);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: white;
    width: 40%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 2px gray;
}

#headtxt {
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 4vw;
}

#quote::after,
#quote::before {
    content: '"';
}

#quote {
    /* font-size: 1.5vw; */
    width: 80%;
    margin: auto;
    padding: 2vw 3vw;
    text-align: center;
    font-weight: 500;
    /* border: 1px solid red; */
}

#writer {
    font-weight: 500;
}

#writer::before {
    content: '- ';

}

button {
    width: 10vw;
    padding: 0.8vw 1vw;
    margin: 2vw;
    border-radius: 5px;
    border: none;
    background-color: rgb(160, 222, 255);
    color: white;
    font-size: medium;
    font-weight: bold;
}